.env

monitoring/provisioning
monitoring/influxdb
monitoring/mibs
monitoring/results
monitoring/scripts

jellyfin_cache
*/*_config

audiobookshelf/books
audiobookshelf/ebooks
audiobookshelf/audiobooks
audiobookshelf/metadata

grafana/provisioning
grafana/k6_webui
grafana/results
grafana/scripts

immich/model-cache

karakeep/meilisearch

vikunja/files

*/config
*/authentik_database
*/redis
*/pgdata
*/*_data
*/data
*/.data
*/influxdb
*/db
/logs
*/logos
*.log
*.tmp
