.env
traefik/config/acme.json
traefik/config/dynamic/services.yml

authentik/redis
crowdsec/config

monitoring/grafana_data
monitoring/prometheus_data
monitoring/provisioning
monitoring/influxdb
monitoring/mibs
monitoring/results
monitoring/scripts

fresh_rss/freshrss_data
vikunja/files
linkwarden/meili_data
n8n/n8n_data
wallos/logos


*/data
*/logs
*/db
*/redis
*.log
*.tmp
