services:
  homeassistant:
    container_name: homeassistant
    image: ghcr.io/home-assistant/home-assistant:stable
    volumes:
      - ./ha_config:/config
      - /run/dbus:/run/dbus:ro
      - /etc/localtime:/etc/localtime:ro

