services:
  zerobyte:
    image: ghcr.io/nicotsx/zerobyte:v0.25
    container_name: zerobyte
    restart: unless-stopped
    networks:
      - homelab
    cap_add:
      - SYS_ADMIN
    devices:
      - /dev/fuse:/dev/fuse
    environment:
      - TZ=Europe/Warsaw
      - APP_SECRET=${APP_SECRET}
      - BASE_URL=https://zerobyte.${DOMAIN_NAME}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./data:/var/lib/zerobyte
      - /home/deekline/homelab:/mydata:ro
      - /mnt/tank/zerobyte/:/var/lib/zerobyte/repositories/

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.zerobyte.entrypoints=websecure"
      - "traefik.http.routers.zerobyte.rule=Host(`zerobyte.${DOMAIN_NAME}`)"
      - "traefik.http.routers.zerobyte.tls=true"
      - "traefik.http.routers.zerobyte.tls.certresolver=cloudflare"
      - "traefik.http.routers.zerobyte.service=zerobyte"
      - "traefik.http.routers.zerobyte.middlewares=local-only@file,authentik@file,security-headers@file"
      - "traefik.http.services.zerobyte.loadbalancer.server.port=4096"
networks:
  homelab:
    name: homelab
    external: true
