services:
  vikunja:
    image: vikunja/vikunja
    container_name: vikunja
    environment:
      VIKUNJA_SERVICE_PUBLICURL: https://vikunja.${DOMAIN_NAME}/
      VIKUNJA_DATABASE_HOST: postgres-17
      VIKUNJA_DATABASE_PASSWORD: ${VIKUNJA_DATABASE_PASSWORD}
      VIKUNJA_DATABASE_TYPE: postgres
      VIKUNJA_DATABASE_USER: ${VIKUNJA_DATABASE_USER}
      VIKUNJA_DATABASE_DATABASE: ${VIKUNJA_DATABASE_DATABASE}
      VIKUNJA_SERVICE_JWTSECRET: ${VIKUNJA_SERVICE_JWTSECRET}
    volumes:
      - ./files:/app/vikunja/files
    networks:
      - pg
      - homelab
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.vikunja.entrypoints=websecure"
      - "traefik.http.routers.vikunja.rule=Host(`vikunja.${DOMAIN_NAME}`)"
      - "traefik.http.routers.vikunja.tls=true"
      - "traefik.http.routers.vikunja.tls.certresolver=cloudflare"
      - "traefik.http.routers.vikunja.service=vikunja"
      - "traefik.http.routers.vikunja.middlewares=local-only@file,authentik@file,security-headers@file"
      - "traefik.http.services.vikunja.loadbalancer.server.port=3456"

networks:
  pg:
    name: pg
    external: true
  homelab:
    name: homelab
    external: true
