services:
  vikunja:
    image: vikunja/vikunja
    container_name: vikunja
    environment:
      VIKUNJA_SERVICE_PUBLICURL: https://vikunja.${DOMAIN_NAME}/
      VIKUNJA_DATABASE_HOST: db
      VIKUNJA_DATABASE_PASSWORD: ${VIKUNJA_DATABASE_PASSWORD}
      VIKUNJA_DATABASE_TYPE: postgres
      VIKUNJA_DATABASE_USER: ${VIKUNJA_DATABASE_USER}
      VIKUNJA_DATABASE_DATABASE: ${VIKUNJA_DATABASE_DATABASE}
      VIKUNJA_SERVICE_JWTSECRET: ${VIKUNJA_SERVICE_JWTSECRET}
    volumes:
      - ./files:/app/vikunja/files
    networks:
      - vikunja
      - homelab
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.vikunja.entrypoints=websecure"
      - "traefik.http.routers.vikunja.rule=Host(`vikunja.${DOMAIN_NAME}`)"
      - "traefik.http.routers.vikunja.tls=true"
      - "traefik.http.routers.vikunja.tls.certresolver=cloudflare"
      - "traefik.http.routers.vikunja.service=vikunja"
      - "traefik.http.routers.vikunja.middlewares=local-only@file,authentik@file,security-headers@file"
      - "traefik.http.services.vikunja.loadbalancer.server.port=3456"
  db:
    image: postgres:17-alpine
    container_name: vikunja-db
    environment:
      - POSTGRES_PASSWORD=${VIKUNJA_DATABASE_PASSWORD}
      - POSTGRES_USER=${VIKUNJA_DATABASE_USER}
      - POSTGRES_DB=${VIKUNJA_DATABASE_DATABASE}
      - POSTGRES_INITDB_ARGS=--encoding=UTF-8 --lc-collate=C --lc-ctype=C
    networks:
      - vikunja
    volumes:
      - ./db:/var/lib/postgresql/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -h localhost -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 2s
      start_period: 30s

networks:
  vikunja:
    name: vikunja
  homelab:
    name: homelab
    external: true
